*{
	margin: 0;
	
}



.back{
	background-image: url(https://image.shutterstock.com/image-vector/magic-stars-sparse-christmas-background-260nw-1242717505.jpg);
    background-repeat: none;
    background-size: cover;
    height: 600px;
    color: white;

  }

h1{
    position: relative;
	top: 20px;
	left: 40px;
	font-size:40px;
	font-family: 'Lora', serif;
	
	word-spacing:10px;
	letter-spacing: 3px;
	width: 50%;
}

h5{
	position: relative;
	top: 40px;
	left: 40px;
	font-size: 25px;
	font-family: 'Shippori Mincho B1', serif;
	
	width:50%;
}
.para{
	position: relative;
	top: 50px;
	left: 40px;
	font-size: 20px;
	font-family: 'Shippori Mincho B1', serif;
	
	width: 70%;
}

.lo li{
	display:inline-block;
	padding-right:20px;
	font-weight:1.5px;
	padding-top:10px;
	padding-bottom:10px;
}
.hi{
	text-decoration: none;
	color:black;
}
.box li{
	display:block;
	font-family: 'Shippori Mincho B1', serif;
	width:250px;
	padding-left: 20px;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;;
	background-color:rgb(203, 228, 253);
	border-right:solid rgb(101, 168, 235);
    border-left:solid rgb(101, 168, 235);
	
	
}
.tech{
	text-decoration: none;
	color:black;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.box li:first-child{
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin-top: 30px;;
}
.box li:last-child{
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.box li:nth-child(4){
	font-weight: bold;
	font-size: 25px;;
}
.box li:nth-child(3){
	padding-top:0px;
}
.box li:nth-child(2){
	padding-bottom: 0px;
}
.lin{
	text-decoration: none;
		color:black;
}
.box{
	width:100%;
	display:inline-flex;
	flex-wrap: wrap;
	border: solid white;
	justify-content: center;
}
.lo {
 background-color:rgb(227, 234, 236);
}
.ab{
	border: solid rgb(227, 234, 236);
    
}
.ab li{
	display: inline-flex;

}
input[type=text]{
	font-size: 1em;
	padding-top: 10px;
	padding-bottom: 5px;
	width:300px;
}
.ab li:first-child{
	padding-right: 200px;
}
table{
	width:100%;
	background-color: rgb(179, 172, 172);
}